/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* header */
body {
  font-family: Raleway;
  letter-spacing: 0.3px;
}
header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #f9f9f9;
  padding-left: 7%;
  padding-right: 7%;
}
nav {
  width: 48%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.boutonBlanc {
  background-color: white;
  border: 2px solid #2d96c8;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  color: #2d96c8;
  font-weight: 800;
}
.boutonBleu {
  background-color: #2d96c8;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 20px 8px 20px;
  color: white;
  font-weight: 800;
}
/* section1 */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 450px;
  width: 85%;
  background-image: url("../img/hero.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top right;
  margin-right: 100px;
  padding-left: 15%;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
.section1 h2{
  font-size: 32px;
  font-weight: 750;
  color: #ef5466;
  padding-top: 10px;
}
.section1 div{
  display: flex;
  padding-top: 30px;
  gap: 30px;
}
.boutonRouge{
  background-color: #ef5466;
  border: 0;
  border-radius: 30px;
  padding: 15px 60px 15px 60px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.boutonBlanc2{
  text-transform: capitalize;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  padding: 12px 60px 12px 60px;
  color: black;
  font-weight: 600;
  font-size: 15px;
}
/* section2 */
.section2{
  background-color: #f9f9f9;
  padding-left: 15%;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
}
.carré {
  padding-left: 5%;
  width: 55%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section2 h2{
  font-size: 32px;
  font-weight: 750;
  width: 100%;
  height: 80px;
}
.section2 article{
  width: 44%;
  height: 150px;
  gap:10px;
  margin-bottom: 15px;
}
.section2 h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 25px;
}
/* section en rouge */
.sectionRed img {
  filter: invert(100);
  width:40px;
  height:40px;
}
.sectionRed {
  background-color: #ef5466;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
}
.sectionRed h3 {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 35px;
}
.ajoutGap {
  display: flex;
  gap: 20px;
}
.sectionRed p {
  font-size: 15px;
  line-height: 22px;
}
/* forfait */
.forfait {
  height: 1250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.forfait h3 {
  font-size: 35px;
  font-weight: 700;
}
.uppercase {
  color: #8e8e94;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 60px;
}
.triangle {
  height : 0;
  width : 0;
  border-top : 7px solid #2d96c8;
  border-right : 7px solid transparent;
  border-left : 7px solid transparent;
  margin-top: 12px;
  margin-bottom: 12px;
 }
.tableau {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tableau article {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableau article h4 {
  font-size: 32px;
  font-weight: 700;
  padding-top: 40px;
}
.forfait h5 {
  font-size: 40px;
  padding-top: 40px;
  font-weight: 600;
  letter-spacing: -3px;
}

.tableau article p {
  font-weight: 600;
  padding-top: 5px;
}
.forfait span {
  margin-top: -0.235ex;
  vertical-align: middle;
  font-size: 35px;
}
.bleu {
  background-color: #2d96c8;
  color: white;
}
.tableau ul {
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 30px;
  color:#8e8e94;
  font-weight: 600;
  font-size: 15px;
}
.bleu ul {
  color: white;
}
.croix {
  font-weight: 200;
}
.tableau a {
  color: #2d96c8;
  font-size: 15px;
  font-weight: 700;
  padding-top: 20px;
}
.tableau .bleu a {
  color: white;
}
.boutonGris{
  background-color: #8e8e94;
  border: 0;
  border-radius: 30px;
  padding: 15px 60px 15px 60px;
  color: white;
  font-weight: 550;
  font-size: 15px;
}
.forfait .boutonRouge {
  margin-top: 15px;
}
ul + p {
  color: #2d96c8;
}
.forfait img {
  margin-top: -0.235ex;
  vertical-align: middle;
  filter: opacity(0.5) ;
}
.croix img{
  filter: opacity(0.3) ;
}
.bleu .croix img {
  filter: invert(100) opacity(0.5);
}
.bleu img {
  filter: invert(100);
}
.boxWhite {
  box-shadow: 0px 0px 5px 6px rgba(142,142,148,0.20);
}
.conditions {
  width: 70%;
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #8e8e94;
  font-size: 10px;
  font-weight: 550;
}
.tableau2 {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tableau2 article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(240,240,240);
  padding-left: 12%;
  padding-right: 12%;
}
.tableau2 span {
  color:#ef5466;
  font-size: 22px;
  vertical-align:text-top;
}
.tableau2 h4 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
}
.tableau2 p {
  font-weight: 500;
  padding-bottom: 5px;
}
.tableau2 a {
  color: #2d96c8;
  font-size: 13px;
  font-weight: 800;
}
.boutonNoirBlanc{
  background-color: rgb(240,240,240);
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 60px 10px 60px;
  color: black;
  font-weight: 550;
  font-size: 15px;
}
/* contact et lien / footer */
footer {
  background-color: black;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  flex-direction: column;
  height: 600px;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  padding-top: 50px;
}
footer .liens {
  display: flex;
  justify-content: space-between;
}
footer h5 {
  color:rgb(82,82,93);
  font-weight: 700;
  font-size:13px;
  padding-bottom: 20px;
}
footer a {
  color: white;
  font-size: 13px;
  font-weight: 400;
}
footer ul {
  line-height: 35px;
}
.inverted {
  filter: invert(100);
}
.logo {
  display: flex;
  justify-content: space-between;
}
.logo div {
  width: 30%;
}
footer p {
  color:#8e8e94;
  font-size: 15px;
  font-weight: 600;
}
.logo1 {
  justify-content: flex-start;
}
.logo2 {
justify-content: center;
}
.logo3 {
  justify-content: flex-end;
}

/* ////////\\\\\\\\ */
/* section pour tel */
/* \\\\\\\\//////// */
.mobileOnly {
  display: none;
}
@media (max-width: 768px) {
  /* header */
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .mobileOnly {
    display: flex;
  }
  nav {
    display: none;
  }
  /* main */
  main {
    padding: 0;
  }
  /* section1 */
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 0;
    height: 600px;
    width: 100%;
    background: none;
  }
  /* gérer l'image en fond */
  .section1 h1 {
    text-align: center;
  }
  .section1 h2 {
    text-align: center;
  }
  .boutonSection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.section1 .boutonSection1 {
  width: 100%;
}
.boutonSection1 .boutonBlanc2 {
  padding-left: 200px;
  padding-right: 200px;
}
.boutonSection1 .boutonRouge {
  padding-left: 200px;
  padding-right: 200px;
}
/* section2 */
.laptopOnly {
  display: none;
}
.section2 {
  width: 100%;
  padding: 0;
  height: 600px;
}
.section2 h2 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.carré {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}
.section2 article {
  padding-top: 30px;
  width: 100%;
}
/* sectionRouge */
.sectionRed{
  height: 300px;
  display: flex;
  flex-direction: column;
}
/* changer ordre a faire */
.mobileOrder {
  order: 2;
}
.sectionRed h3 {
 text-align: center; 
}
.sectionRed p {
text-align: center;
}






























  }